h2 {
  font-size: 2rem;
  margin: 1rem 0;
  color: var(--color-primary);
}

h3 {
  font-size: 1.8rem;
  margin: 1rem 0;
  color: var(--color-primary);
}

p {
  font-size: 1.6rem;
  margin: 1rem 0;
  color: var(--color-primary);
}

button {
  padding: 1rem 1.2rem;
  margin: 0.5rem 0;
  cursor: pointer;
  font-weight: 600;
  font-family: inherit;
  font-size: 1.4rem;
  background-color: var(--color-primary);
  color: var(--color-background);
  border: 0;
  border-radius: 0.4rem;
}

button:hover {
  background-color: var(--color-primary);
}

.active-btn {
  background-color: var(--color-primary);
  color: var(--color-background);
}

.passive-btn {
  color: var(--color-primary);
  background-color: var(--color-background);
  border: 0.1rem solid var(--color-primary);
}

.passive-btn:hover {
  background-color: var(--color-background);
}
