#palletteOuterContainer {
  /* align-items: center;
  justify-content: center;
  width: 100%;
  margin: 1rem; */
}

#palletteInnerContainer {
  /* flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
  /*  */
  /* width: 90%; */
}

.pallette-inner-container {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
  /*  */
  width: 90%;
}

.color-box-container {
  align-items: center;
}

#palletteButtonsContainer {
  width: 90%;
  /*  */
  justify-content: space-between;

  order: 1;
}

.color-box {
  cursor: pointer;
}

.lock-icon {
  background-color: transparent;
  align-self: flex-end;
  padding: 0.4rem;
  font-size: 1rem;
}

.pallette-btn {
}

.save-helper {
  align-self: flex-start;
}

.no-saved-message {
  border: 2px solid var(--color-primary);
  padding: 1rem;
}

/* BREAK POINTS */

/* FROM 250PX TO 600PX */
@media (min-width: 15.625em) {
  .color-box {
    width: 10rem;
    height: 10rem;
  }

  .lock-icon {
    font-size: 1.4rem;
  }
}

/* FROM 600PX TO 900PX */
@media (min-width: 37.5em) {
  .color-box {
    width: 10rem;
    height: 10rem;
  }
}

/* FROM 900PX TO 1200PX */
@media (min-width: 56.25em) {
  .color-box {
    width: 16rem;
    height: 16rem;
  }
  .lock-icon {
    font-size: 1.6rem;
  }
}

/* FROM 1200PX TO 1400PX */
@media (min-width: 75em) {
  .color-box {
    width: 20rem;
    height: 20rem;
  }
}
