.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.r-c-center {
  justify-content: center;
  align-items: center;
}

.c-center-r-sp-between {
  align-items: center;
  justify-content: space-evenly;
}

.section-container {
  align-items: center;
  justify-content: center;
  /*  */
  width: 100%;
  margin: 1rem;
}

.f-r-space-around {
  justify-content: space-around;
}

.gradient-helper {
  align-items: center;
  justify-content: center;
  /*  */
  width: 50%;
  margin: 1rem;
}
