:root {
  --color-primary: rgb(10, 28, 65);
  --color-background: #ecf0f1;
  --color-text: rgb(10, 28, 65);
  --color-grey:#333
  --font-family-primary: "Playfair Display", serif;
  --font-family-secondary: "Roboto", sans-serif;
}

body.dark {
--color-primary: rgb(74, 144, 226);  
--color-primary-hover : rgb(53, 166, 255);
/* bright blue for accents */
--color-background: #121212;  /* very dark gray, not pure black */
--color-text: #ecf0f1;        /* light gray/white for readability */

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: var(--font-family-primary);
}

body {
  width: 100%;
  background-color: var(--color-background);
  /*  */
    transition: background-color 0.3s, color 0.3s;

}

main {
  margin: 0 auto;
  max-width: 130rem;
  /*  */
}
